.username::before {
    content: "";
    position: absolute;
    height: 12px;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #4169E1;
    opacity: 0.3;
    transition: 0.1s ease background-color;
}

.back-top {
    position: fixed;
    bottom: 32px;
    right: 0;
}