.pre-code{
    position: relative;
}

.copy-box{
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: #9999AA;
    padding: 2px 8px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 5%);
    display: none;
}

.pre-code:hover .copy-box{
    display: block;
}

.note-warning{
    background-color: #fdf8ea;
    border-color: #f0ad4e;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 10px 0;
    padding: 20px;
    color: black;
}